.servicesSection {
  position: relative;
  padding: 200px 0 160px;
  margin-top: -150px;
}

.backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* Service Block */
.serviceBlock {
  position: relative;
  padding: 0 15px;
  margin-bottom: 40px;
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.innerBox {
  position: relative;
  text-align: center;
}

/* Image Box */
.imageBox {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}

/* Icon Box */
.iconBox {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  height: 100px;
  width: 100px;
  z-index: 9;
  background-color: #539760;
  border: 6px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
}

.imageBox:hover .iconBox {
  transform: translateY(10px);
}

.iconBox :global(.icon) {
  font-size: 60px;
  line-height: 1em;
  color: #ffffff;
}

/* Image */
.image {
  position: relative;
  margin-bottom: 0;
}

.image img {
  display: block;
  width: 100%;
}

/* Hover Overlay */
.overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-out;
  padding: 70px 20px 20px 20px;
  color: #fff;
  transform: translateY(110%);
}

.imageBox:hover .overlay {
  transform: translateY(0%);
}

.overlay::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5%;
  left: -30%;
  width: 150%;
  height: 150%;
  background-color: #59ab66;
  transform: rotate(5deg);
  opacity: 0.9;
}

.desc {
  position: relative;
  font-size: 15px;
  line-height: 1.6;
}

/* Lower Content */
.lowerContent {
  position: relative;
  padding: 25px 0 0;
}

.serviceTitle {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #363636;
}

.text {
  margin-bottom: 25px;
  color: #555;
  line-height: 1.7;
}

.btnBox {
  position: relative;
}

/* Responsive */
@media (max-width: 991px) {
  .serviceBlock {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .serviceBlock {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .servicesSection {
    padding: 150px 0 80px;
  }
}
